body,
html {
  height: 100%;
  position: relative;
}
.puzzle-wrapper {
  width: 100%;
  height: 100%;
}
.puzzle-wrapper .hidden {
  display: none;
}
.puzzle-wrapper .start-container,
.puzzle-wrapper .win-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  padding-top: 280px;
  color: #58bdec;
  box-sizing: border-box;
  z-index: 10;
  font-family: arial, sans-serif;
  cursor: pointer;
}
.puzzle-wrapper .start-container .title,
.puzzle-wrapper .win-container .title {
  font-size: 100px;
}
.puzzle-wrapper .win-container .final-info {
  font-size: 30px;
  line-height: 40px;
}
.puzzle-wrapper .game-container {
  padding: 50px 15px;
  margin: 0 auto;
  width: 445px;
  font-family: arial, sans-serif;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.puzzle-wrapper .game-title {
  color: #58bdec;
  margin-bottom: 25px;
  font-size: 21px;
  text-transform: uppercase;
}
.puzzle-wrapper .puzzle-area {
  width: 100%;
  height: 445px;
  border: 1px solid #168eb8;
  border-radius: 5px;
  padding: 9px;
  box-sizing: border-box;
  cursor: default;
}
.puzzle-wrapper .puzzle-number {
  width: 25%;
  height: 25%;
  float: left;
  padding: 3px;
  box-sizing: border-box;
}
.puzzle-wrapper .puzzle-number i {
  text-align: center;
  color: #fff;
  font-size: 50px;
  border-radius: 4px;
  background-color: #58bdec;
  line-height: 100px;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.puzzle-wrapper .puzzle-number i:hover {
  background-color: #168eb8;
  cursor: pointer;
}
.puzzle-wrapper .puzzle-zero {
  width: 25%;
  height: 25%;
  float: left;
  padding: 3px;
  display: inline-block;
  box-sizing: border-box;
}
.puzzle-wrapper .puzzle-zero i {
  box-sizing: border-box;
  color: #fff;
  border: 1px solid #dedede;
  border-radius: 4px;
  line-height: 100px;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.puzzle-wrapper .additional-info {
  color: #168ec0;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-size: 18px;
}
.puzzle-wrapper .puzzle-timer {
  left: 15px;
}
.puzzle-wrapper .puzzle-moves {
  right: 15px;
}
@media only screen and (max-width: 479px) {
  .puzzle-wrapper .game-container {
    width: 300px;
  }
  .puzzle-wrapper .puzzle-area {
    height: 300px;
  }
  .puzzle-wrapper .puzzle-number i {
    line-height: 64px;
    font-size: 40px;
  }
}
