doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
		title 15 puzzle
		link(rel='stylesheet', href='style/reset.css')
		link(rel='stylesheet' href='style/styles.css')
	body
		.puzzle-wrapper
			.start-container
				.title start
			.win-container.hidden
				.title win
				#total-moves.final-info 234
				#total-time.final-info 32:34:54
			.game-container.hidden
				.game-title Barley-Break
				.puzzle-area
				.puzzle-timer.additional-info
					span#timer-value 00:00:00
				.puzzle-moves.additional-info
					span#moves-value
			#timer
		script(src='js/jquery-2.1.3.min.js')
		script(src='js/app.js')